/* taiki's zone */


/* miyuki's zone */
.firstVisualInner{
  background-color: brown;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
}

.center {
  text-align: center;
}

/* kahsiken's zone */


/* kotoki's zone */